<div class="container">




    <div class="panel panel-default" id="home-panel">
    <div class="panel-heading">
    <h5>Welcome: {{empData.name}}
    <!-- <a href="" class="pull-right" ng-click="logout()"> -->
    <a href="/auth/signout" class="pull-right">
    <img src="modules/core/img/logout.png" alt="logout" height="22" width="22"></a></h5>
    </div>
      <div class="panel-body" id="home-body"><br>
        <button type="button" class="btn btn-primary btn-home" ng-disabled="isActive" ng-click="punchIn()">Puch in</button>
        <button type="button" class="btn btn-primary btn-home" ng-disabled="!isActive" ng-click="punchOut()">Puch out</button><br><br><br><br>
        
        <div class="panel panel-info" id="info-panel">
        <div id="home-text">
        <!-- <b>Last login at:</b> {{empData.date | date:"dd/MM/yyyy"}} @ {{empData.lasttimein}}<br> -->
        <b>Last login at:</b> {{empData.date | date:"dd/MM/yyyy @ hh:mm a"}}<br>
        <b>IP Address:</b> {{userIP}}<br>
        <b>ISP:</b> {{userInfo.org}}<br>
        <b>Country:</b> {{userInfo.country}}<br>
        <!-- <b>State/Region:</b> {{userInfo.region}}<br>
        <b>City:</b> {{userInfo.city}}<br> -->
        <b>Latitude & Longitude:</b> {{userInfo.loc}}<br>
        <b>Browser:</b> {{browserName}}</p></div><br><br><br>
        </div>
        
      
        <ul align="center">
          <li id="text-id"><a href="" ng-click="leave()">Apply Leave</a></li>
          <li id="text-id"><a href="" ng-click="attandence()">View Attandence</a></li>
          <li id="text-id"><a href="" ng-click="holidays()">List of Holidays</a></li>
        </ul>

      </div>
    </div>
</div>