<div class="container">
    <div class="panel panel-default" id="home-panel">
    <div class="panel-heading">
    <h5>Welcome: {{tmpHomeData.name}}
    <!-- <a href="" class="pull-right" ng-click="logout()"> -->
    <a href="/auth/signout" class="pull-right">
    <img src="modules/core/img/logout.png" alt="logout" height="18" width="17"></a></h5>
    </div>
      <div class="panel-body">
        <!-- <div align="center">Apply for leave</div><br> -->

        <!-- <div  data-tap-disabled="true" ui-calendar ng-model="eventSources"></div> -->
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
        
        <!-- <div>
        <lable class="pull-left check">
          <input type="checkbox" name="checkbox" ng-init='checkStatus=false' ng-model='checkStatus'>
        </lable>
        <lable>
          &nbsp;&nbsp;SL
        </lable>
        </div>  -->


        <span id="leave-type">
          <input type="checkbox" class="leave" value="SL">&nbsp;&nbsp;SL<br>
          <input type="checkbox" class="leave" value="CL" checked>&nbsp;&nbsp;CL
        </span>

        <!-- <div id='calendar' ng-model="eventSources" calendar="myCalendar"></div> -->
        
        <!-- <lable>2 CL left for this month</lable> -->
        <ul id="leaveSection">
          <!-- <li><a href="" ng-click="applyLeave()">Apply</a></li>
          <li><a href="" ng-click="home()">Go Back</a></li> -->
          <li><button type="button" class="btn btn-primary btn-sm" ng-click="applyLeave()">Apply</button></li>
          <li><button type="button" class="btn btn-primary btn-sm" ng-click="home()">Go Back</button></li>
        </ul>

      </div>
    </div>
</div>