

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: #fff;
}

#login-panel { 
   position: absolute;
   top: 48%;
   left: 50%;
   margin: -150px 0 0 -150px;
   width:300px;
   height:300px;
   background: #f2f2f2;
   border-radius: 2px;
   border: 1px solid #e6e6e6;
 }

 .panel-body {
  padding: 25px;
 }


#login-panel h1 { 
   /*color: #000; */
   /*text-shadow: 0 0 10px rgba(0,0,0,0.3); */
   letter-spacing:1px; 
   text-align:center; 
}

#home-panel {
  position: absolute;
  top: 33%;
  left: 52%;
  margin: -200px 0 0 -200px;
  width:380px;
  height:620px;
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
}

/*#home-body {
  margin-top: 15px;
  background-color: #dadee1;
}*/

.panel > .panel-heading {
    background-image: none;
    background-color: #3E4763;
    color: #FFF;
}

h5 {
  margin-left: 10px;
}

.btn-home {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: 25px;
  /*margin-right: 20px;*/
}

#home-text {
  margin-left: 10px;
  /*background-color: #D2DADE;*/
  padding-top: 5px;
  /*padding-bottom: 20px;*/
}

#info-panel {
  width: 100%;
  height: 210px;
  background: #D2DADE;
  border: 1px solid #B0B8BF;
  
  margin-right: 5px;
}


#text-id {
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
  padding-right: 4px;
  padding-left: 4px;
  background-color: #ccd1d6;
  /*border: 1px solid ;*/
  color: #FFF;
}

ul {
  padding: 0px;
}

li {
  display: inline-block;
  margin-top: 10%;
  /*margin-left: 6px;*/
  /*margin-right: 12px;*/
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}

li > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

li > a:hover {
  color: #000;
}

li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#leaveSection {
  text-align: center;
  font-size: 13px;
}

#leaveSection li {
  margin-top: 8px;
  margin-left: 25px;
  margin-right: 5px;
}


/*.check {
  margin-bottom: 5px;
}*/

#adminbtn {
  padding: 2px;
}

#form-upload {
  margin-bottom: 0px;
}


input { 
   width: 100%; 
   margin-bottom: 10px; 
   background: rgba(0,0,0,0.8);
   /*background-color: #B0B8BF;*/
   border: none;
   outline: none;
   padding: 10px;
   font-size: 13px;
   color: #fff;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
   border: 1px solid rgba(0,0,0,0.3);
   border-radius: 4px;
   box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
   -webkit-transition: box-shadow .5s ease;
   -moz-transition: box-shadow .5s ease;
   -o-transition: box-shadow .5s ease;
   -ms-transition: box-shadow .5s ease;
   transition: box-shadow .5s ease;
   -webkit-appearance: none;
}

/*input[type=”checkbox”]{
-webkit-appearance: checkbox;
}*/

input:focus { 
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}









.attandenceTable table {
  width: 100% !important;
}

.attandenceTable thead, .attandenceTable tbody, .attandenceTable tr, .attandenceTable td, .attandenceTable th { display: block; }

.attandenceTable tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

.attandenceTable thead th {
            height: 30px;

            /*text-align: left;*/
        }

.attandenceTable tbody {
            height: 120px;
            overflow-y: auto;
        }

.attandenceTable thead {
            /* fallback */
        }


.attandenceTable tbody td, .attandenceTable thead th {
            /*width: 19.2%;*/
            float: left;
        }




/*Attandance and holidays scrollable table */

1.attandenceTable1 table {
  width: 100% !important;
}

.attandenceTable1 thead, .attandenceTable1 tbody, .attandenceTable1 tr, .attandenceTable1 td, .attandenceTable1 th { display: block; }

.attandenceTable1 tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

.attandenceTable1 thead th {
            height: 30px;

            /*text-align: left;*/
        }

.attandenceTable1 tbody {
            height: 380px;
            overflow-y: auto;
        }

.attandenceTable1 thead {
            /* fallback */
        }


.attandenceTable1 tbody td, .attandenceTable1 thead th {
            /*width: 19.2%;*/
            float: left;
        }


